/* Обращение бывают следующих типов::
    1)теги
    2)класс
    3)id
    4)атрибуты 
*/



.main_menu {
    background-color: brown;
    
}
.left-side{
    background-color: blue;
    color: black;
}
.right-side{
    background-color: blue;
    color: white;

}
.basement-of-site{
    background-color: black;
    color: white;
}


.second_class {
    border: 10px outset green;
}
/* .left-side.second_class.sun.help{ */
    /* background: yellow; */
/* } */
/* Данная запись трактуется след образом
main_menu основной родит блок
sun внутренний элемент который нах в main_menu

    По простому::
    CSS должен найти в HTML Класс sun который находится внутри main_menu
*/
.main_menu .sun{
    background: pink;

}
.primer div {
    background: red;
}
.primer p {
    background: red;
}
#my_id{
    background: yellow;
}

[data-damir="name"]{
    background: pink;
}

/* Urok 12 */

.urok12{
    background-image: url(https://static9.depositphotos.com/1594308/1110/i/600/depositphotos_11107478-stock-photo-fantasy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 120px;
    margin-bottom: 120px;

    /* px конкретное заданное число измерения  */
    /* rem относительная единица измерения котороя базируется от Html */
    /* em относительная единица измерения относительно от блока */
    /* % - относительная единица изм которая базируется от ширины блока или экрана  */

    /* Правила 4х сторон 
        Нужно всегда знать что есть 4 стороны
        левая сторона
        правая сторона
        Верхняя 
        Нижняя стороны
    */
    /* 
    Цвет
        Оранжевый свет margin внешний отступ 
        Желтый цвет    border границы 
        Зеленный цвет padding внутренний отступ 
        Синий цвет content содермжимое документа 

    */
}
a{
    display: block;
    /* 
    block             блочная структура
    inline block      строчная структура 
    flex              удобное адаптация ширины
    */
}
.urok12_1{
    display: flex;
    justify-content: center;
}
.urok12_1 ul {
    padding: 0;
}
.urok12_1 ul li:nth-child(3){
    background-color: rebeccapurple
    ;
}

/* Задача по новедению на блок urok12_1 задний фон должен изменится
    по новодению равно hover 
    на блок = .urok12_1

    что должно произойти 
        background -color : brown;
*/
.urok12_1{
    transition: 0.5s;
}
.urok12_1:hover{
    background-color: brown;
}